					<footer class="site-footer">
						<div class="inner">
							<section class="copyright"><a href="<%- config.root %>"></a> &copy; <%- config.title %> 2016</section>
							<section class="poweredby">由<a target="_blank" href="http://hexo.io/">Hexo   </a>发布 | 主题为 <a target="_blank" href="https://github.com/yuche/hexo-theme-kael">heredom</a></section>
						</div>
					</footer>
				</div><!-- /scroller -->

			</div><!-- /pusher -->
		</div><!-- /container -->
	</body>
</html>